{
  "env": {
    "es": {
      "presets": [
        ["@babel/env", { "modules": false }],
        "@babel/react",
        "@babel/stage-3"
      ],
      "plugins": [
        ["@babel/transform-runtime", { "polyfill": false, "useBuiltIns": true, "useESModules": true }]
      ]
    },
    "commonjs": {
      "presets": [
        "@babel/env",
        "@babel/react",
        "@babel/stage-3"
      ],
      "plugins": [
        ["@babel/transform-runtime", { "polyfill": false, "useBuiltIns": true }]
      ]
    },
    "test": {
      "presets": [
        "@babel/react",
        "@babel/stage-3"
      ],
      "plugins": [
        ["@babel/transform-runtime", { "polyfill": false, "useBuiltIns": true }],
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
