{
  "env": {
    "esm": {
      "presets": [
        ["@babel/env", { "modules": false, "loose": true }],
        "@babel/react",
        "@babel/stage-3"
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", { "polyfill": false, "useBuiltIns": true, "useESModules": true }]
      ]
    },
    "cjs": {
      "presets": [
        ["@babel/env", { "modules": false, "loose": true }],
        "@babel/react",
        "@babel/stage-3"
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", { "polyfill": false, "useBuiltIns": true }],
        "@babel/plugin-transform-modules-commonjs"
      ]
    },
    "test": {
      "presets": [
        ["@babel/react", { "useBuiltIns": true }],
        "@babel/stage-3"
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", { "polyfill": false, "useBuiltIns": true }],
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
